*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 /* import google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-mainfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 /* import google font End here */

/* share style */
.stroke{
    border-bottom: 1px solid #412567; 
  box-sizing: border-box;  
}
.btn-1{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    border-radius: 10000px;
    padding: 12px 16px;
    border: none;
   color:  white;
    font-weight: 600;
    font-size: 1rem;
   cursor: pointer;
}
.display-flex{
display: flex;
}

.bg-color{
background-color: #1A0B2E;
}
 /* Header css start here */
 .navber{
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    
 }
.nav-links{
    font-size: 1rem;
    gap: 2rem;
    font-weight: 500;
   
}
.nav-items{
 list-style-type: none;
}
.nav-link{
    text-decoration: none;
     color: white;
}
.headerlogo img{
    max-width: 219px;
    width:100% ;
    height: auto;
}
 

.hamburger {
display: none;
}

#hero {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 63px;
    padding-bottom: 139px;
  
    
  
}
.hero-contents{
  flex-direction: column;
  text-align: center;
  max-width:525px ;
  margin: 0 auto;
  
  
  
 
  
}
.hero-image  {
    position: relative;
   
   

}

.hero-image .img1 {
    max-width: 200px;
    width: 100%;
    

    

}
.hero-image .img2{
     
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);

    
   
 
}
.hero-info h3{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;


}

.hero-info p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
     margin-bottom: 24px;
     opacity: 0.8;
}

.btn2 {
  justify-content: center;
  gap: 8px; 
}
.btn2 .Subscribe2{
    border-radius: 10000px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
   color:  #00FF88;
   background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
   cursor: pointer;
}


.new-button{
    background-color: #00FF88;
    font-size: 1.125rem;
   padding: 8px 16px;
   font-weight: 600;
   border-radius: 10000px;
   position: absolute;
   border: none;
   top: 5%;
   left: 59%;
}


#about{
    background-color: #1A0B2E;
}

#about .about-contents{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;
}

#about .about-contents .about-podcast{
 text-align: center;
 
}
#about .about-podcast h3{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
#about .about-podcast p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
    line-height: 20px;
    opacity: 0.8;
}
.line{
      margin-top: 80px;
     border-top: 0.1px solid #323131;
     margin-bottom: 80px;
}

.about-h3{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}
.about-p{
    color: #ffffff;
    font-size: 1rem;
    opacity: 0.8;
}

.about-number{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}


/* Responsive Small device: up to 576 px */
@media screen and (max-width:576px) {
    .navber{
        max-width: 400px;
        margin: 0 auto;
    }
    .nav-links , .navbutton{
        display: none;
    }
    .headerlogo img{
    max-width: 137px;
    width:100% ;
    height: auto;
}
    .hamburger {
 display: block;
 color: rgb(253, 253, 253);
 font-size: 1.6rem;

}

.hero-info h2{
    font-size: 2.52rem;
   
}


 
   
}


