*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 /* import google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-mainfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 /* import google font End here */

/* share style */
.stroke{
    border-bottom: 1px solid #412567; 
  box-sizing: border-box;  
}
.btn-1{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    border-radius: 10000px;
    padding: 12px 16px;
    border: none;
   color:  white;
    font-weight: 600;
    font-size: 1rem;
   cursor: pointer;
}
.display-flex{
display: flex;
}

.bg-color{
background-color: #1A0B2E;
}
 /* Header css start here */
 .navber{
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    
 }
.nav-links{
    font-size: 1rem;
    gap: 2rem;
    font-weight: 500;
   
}
.nav-items{
 list-style-type: none;
}
.nav-link{
    text-decoration: none;
     color: white;
}
.headerlogo img{
    max-width: 219px;
    width:100% ;
    height: auto;
}
 .img{
    background-image: url("../images/ArrowRight.png");
    background-repeat: no-repeat;
 }

.hamburger {
display: none;
}

/* Responsive Small device: up to 576 px */
@media screen and (max-width:576px) {
    .navber{
        max-width: 400px;
        margin: 0 auto;
    }
    .nav-links , .navbutton{
        display: none;
    }
    .hamburger {
 display: block;
 color: rgb(253, 253, 253);
 font-size: 1.8rem;

}
}