*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 /* import google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-mainfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 /* import google font End here */

/* share style */
.stroke{
    border-bottom: 1px solid #412567; 
  box-sizing: border-box;  
}
.btn-1{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
    border-radius: 10000px;
    padding: 12px 16px;
    border: none;
   color:  white;
    font-weight: 600;
    font-size: 1rem;
   cursor: pointer;
}
.display-flex{
display: flex;
}

.bg-color{
background-color: #1A0B2E;
}
 /* Header css start here */
 header{
    overflow: auto;
 }
 .navber{
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    
 }
.nav-links{
    font-size: 1rem;
    gap: 2rem;
    font-weight: 500;
   
}
.nav-items{
 list-style-type: none;
}
.nav-link{
    text-decoration: none;
     color: white;
}
.headerlogo img{
    max-width: 219px;
    width:100% ;
    height: auto;
}
 

.hamburger {
display: none;
}

#hero {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 63px;
    padding-bottom: 139px;
  
    
  
}
.hero-contents{
  flex-direction: column;
  text-align: center;
  max-width:525px ;
  margin: 0 auto;
  
  
  
 
  
}
.hero-image  {
    position: relative;
   
   

}

.hero-image .img1 {
    max-width: 200px;
    width: 100%;
    

    

}
.hero-image .img2{
     
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);

    
   
 
}
.hero-info h3{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;


}

.hero-info p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
     margin-bottom: 24px;
     opacity: 0.8;
}

.btn2 {
  justify-content: center;
  gap: 8px; 
}
.btn2 .Subscribe2{
    border-radius: 10000px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
   color:  #00FF88;
   background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
   cursor: pointer;
}


.new-button{
    background-color: #00FF88;
    font-size: 1.125rem;
   padding: 8px 16px;
   font-weight: 600;
   border-radius: 10000px;
   position: absolute;
   border: none;
   top: 5%;
   left: 59%;
}


#about{
    background-color: #1A0B2E;
}

#about .about-contents{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;
}

#about .about-contents .about-podcast{
 text-align: center;
 
}
#about .about-podcast h3{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
#about .about-podcast p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
    line-height: 20px;
    opacity: 0.8;
    justify-content: center;
    
}
.line{
      margin-top: 80px;
     border-top: 0.1px solid #323131;
     margin-bottom: 80px;
}

.about-h3{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}
.about-p{
    color: #ffffff;
    font-size: 1rem;
    opacity: 0.8;
}

.about-number{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
#chooseCard{
background-color:#230E3D ;

    
}
#chooseCard .card-contents{
padding: 120px 0;
    max-width: 1200px;
margin: 0 auto;
}
.card-contents h3{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

      .card-box{
         max-width: 1200px;
margin: 0 auto;
  display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 273px);
  gap: 30px;
 
      }

.card-1{
      grid-column: span 1;
  grid-row: span 2;
  
  display: flex;
    flex-direction: column;
    justify-content: center;
    
  
}

.card-2{
     grid-column: span 2;
     grid-row: span 1;
}
.card-3{
 grid-column: span 2;
     grid-row: span 1;
}
.card-4{
  grid-column: span 2;
     grid-row: span 1;
}
.card-5{
  grid-column: span 1;
   grid-row: span 1;
}
.card-image img{
    max-width: 60px;
    width: 100%;
     animation: iconFloat 1.2s ease-in-out infinite;
}
/* Animation start here  */

@keyframes iconFloat {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.card-design h4{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
}
.card-design p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
     opacity: 0.6;
     
}

.card-design{
padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

#features{
background-color: #1A0B2E;

}
.youtube-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   cursor: pointer;
    animation: pulse 2s infinite;
    transition: transform 0.3s ease;
    z-index: 900;
    
}
.youtube-btn:hover {
     transform: translate(-50%, -50%) scale(1.3);
}

 #features .feature-contents{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    }

 .feature-contents h4{
     color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
 }
.video-card {
  max-width: 380px;
  margin: 0 auto;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 15px;
  overflow: hidden;
  
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
   position: relative;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
  .video-info {
     padding: 24px;
 }
  .video-info h5{
     color: white;
    font-size: 1.5rem;
    font-weight: 700; 
    
 }

   .video-info h6{
     color: #00FF88;
    font-size: 1rem;
    font-weight: 600; 
    margin-top: 12px;
 }

   .video-info p{
   color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 12px;
     opacity: 0.6;
     
 }
 .card-video{
    display: flex;
    gap: 30px;
   
 }
 
 .ceo-box{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
 }
 .host {
   
    padding-bottom: 120px;
 }
 .host h3{
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
 }

 .ceo-info h4{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700px;
    margin-bottom: 16px;
 }

 .ceo-info p{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400px;
    opacity: 0.6;
    margin-bottom: 16px;
    line-height: 24px;
 }
 .icone {
  display: flex;
  gap: 8px;
  align-items: center;
}


 .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
     border: 1px solid #533C72;

  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 .circle img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
#footer-part{
     background-image: url("../images/footer-bg.png");
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-logo h3{
     font-size: 3.75rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.footer-logo h3 span{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
    );
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.one{
    display: flex;
    gap: 8px;
}
.text-icone{
    color: #ffffff;
    opacity: 0.6;
}

.icone-footer{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.footer-p{
    color: #ffffff;
    opacity: 0.6;
    text-align: center;
    margin-top: 32px;
}




/* Responsive Small device: up to 576 px */

@media screen and (max-width:576px) {
    .navber{
        max-width: 400px;
        margin: 0 auto;
    }
    .nav-links , .navbutton{
        display: none;
    }
    .headerlogo img{
    max-width: 137px;
    width:100% ;
    height: auto;
}
    .hamburger {
 display: block;
 color: rgb(253, 253, 253);
 font-size: 1.6rem;

}

.hero-info h2{
    font-size: 2.52rem;
   
}

.about-podcast{

    max-width: 400px;
    margin: 0 auto;


}
.about-number{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    justify-items: center;
    text-align: center;
    overflow: hidden;
 
}

 #chooseCard .card-contents{
padding: 40px 0;
}

.card-box{
max-width: 400px;
    margin: 0 auto;
    display: grid;
   grid-template-columns: repeat(1, minmax(0, 1fr));
     box-sizing: border-box;
     gap: 16px;
}
   

.card-contents h3{

    font-size: 2rem;

}

.card-1, .card-2, .card-3, .card-4, .card-5 {
        grid-column: auto;
        grid-row: auto;
    }
     #features .feature-contents{
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 0 60px;

    }
    .card-video{
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(1,fr);
    gap: 16px;
   
 }
  .feature-contents h4{
     color: white;
    font-size: 2rem;
    margin-bottom: 24px;
    
 }
 .ceo-box{
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 24px;
    }

     .icone {
 justify-content: center;
}

 .host h3{
    font-size: 2rem;
     margin-bottom: 24px;
 }
 .host {
   
    padding-bottom: 40px;
 }
.icone-footer{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 16px;
  justify-items: center;
 
  
}
.footer-logo h3{
     font-size: 3rem;
    margin-bottom: 32px;
}
#footer-part{
    padding: 40px 0;
}


}




